<div class="row">

  <div class="col-12">
    <h3>Nuevas Peliculas</h3>
    <div class="card-columns">
      <div class="card bg-dark text-white animated fadeInDown" *ngFor="let movie of newMovies">
        <a [routerLink]="[ '/pelicula', movie.id ]">
          <img src="https://image.tmdb.org/t/p/w300/{{movie.backdrop_path}}" class="card-img" alt="{{movie.title}}">
          <div class="card-img-overlay">
            <h5 class="card-title">{{movie.title}}</h5>
          </div>
        </a>
      </div>
    </div>
    <hr>
  </div>

  <div class="col-12">
    <h3>Peliculas Populares</h3>
    <div class="card-columns">
        <div class="card bg-dark text-white animated fadeInDown" *ngFor="let movie of popularMovies">
          <a [routerLink]="[ '/pelicula', movie.id ]">
            <img src="https://image.tmdb.org/t/p/w300/{{movie.backdrop_path}}" class="card-img" alt="{{movie.title}}">
            <div class="card-img-overlay">
              <h5 class="card-title">{{movie.title}}</h5>
            </div>
          </a>
        </div>
      </div>
      <hr>
  </div>

  <div class="col-12">
      <h3>Peliculas Infantiles Populares</h3>
      <div class="card-columns">
          <div class="card bg-dark text-white animated fadeInDown" *ngFor="let movie of popularMoviesKids">
            <a [routerLink]="[ '/pelicula', movie.id ]">
              <img src="https://image.tmdb.org/t/p/w300{{movie.backdrop_path}}" class="card-img" alt="{{movie.title}}">
              <div class="card-img-overlay">
                <h5 class="card-title">{{movie.title}}</h5>
              </div>
            </a>
          </div>
        </div>
        <hr>
    </div>

</div>
