<div class="row">
  <div class="col-12">
    <h2>{{pelicula.title}}</h2>
  </div>
  <div class="col-4">
    <img src="https://image.tmdb.org/t/p/w500{{pelicula.poster_path}}" alt="{{pelicula.title}}"
      class="img-fluid img-thumbnail">
  </div>
  <div class="col-8">
    <h5>Sipnosis</h5>
    <hr>
    <p class="text-justify">{{pelicula.overview}}</p>
    <h5 *ngIf="pelicula.tagline !== ''">Frase Celebre</h5>
    <p *ngIf="pelicula.tagline !== ''">{{pelicula.tagline}}</p>

    <p>Popularidad <span class="badge badge-primary">{{pelicula.popularity}}</span></p>
    <p>Voto promedio <span class="badge badge-primary">{{pelicula.vote_average}}</span></p>
    <br>
    <button type="button" class="btn btn-outline-danger" routerLink="../">Regresar</button>
  </div>
</div>
